body {
  font-weight: 300;
  font-family: "Figtree", sans-serif;
  color: #737373;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  transition: background 0.3s;
}
@media screen and (max-width: 567px) {
  #header {
    background-color: rgba(255, 255, 255, 0.89);
  }
}
#header.scroll-head {
  background-color: rgba(255, 255, 255, 0.5);
}
#header .navbar .navbar-nav {
  align-items: center;
  font-family: "Arsenal", sans-serif;
}
#header .navbar .navbar-nav .nav-item {
  position: relative;
}
#header .navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  padding: 20px 80px;
  color: #524840;
}
#header .navbar .navbar-nav .nav-link:hover::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  bottom: 13px;
  background: #000;
  left: 45%;
}
#header .navbar .navbar-nav .nav-link.active::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  bottom: 13px;
  background: #000;
  left: 45%;
}

footer {
  background-color: #B9B2A6;
}
footer .logo-bottom img {
  width: 72px;
}
footer .column-footer-text-wrapper .title-footer {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  margin-bottom: 10px;
}
footer .column-footer-text-wrapper .socmed-link a {
  color: #524840;
}

#after-header {
  padding: 10em 0 20em;
}

.home-section-1 {
  background: url(../images/bg_home_banner.png) no-repeat;
  background-size: cover;
}
.home-section-1 .floating-text-wrapper {
  color: #fff;
}
.home-section-1 .floating-text-wrapper .home-banner {
  position: absolute;
  right: 0;
  overflow: hidden;
}
.home-section-1 .floating-text-wrapper .title {
  font-family: "Arsenal", sans-serif;
  font-size: 43px;
  font-weight: 400;
}
.home-section-1 .floating-text-wrapper .tagline {
  font-size: 14px;
  line-height: 25px;
}
.home-section-1 .floating-text-wrapper .block-more a {
  background-color: #DED6C7;
  border-color: transparent;
  color: #524840;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.home-section-1 .floating-text-wrapper .block-more a:hover {
  background-color: transparent;
  border-color: #DED6C7;
  color: #DED6C7;
}

.home-section-2 {
  background-color: #F8F7F4;
}
.home-section-2 .text-float-right {
  color: #737373;
}
.home-section-2 .text-float-right h1 {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #524840;
}
.home-section-2 .text-float-right .desc {
  font-size: 16px;
}
.home-section-2 .text-float-right .block-more a {
  background-color: transparent;
  border-color: #DED6C7;
  color: #524840;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.home-section-2 .text-float-right .block-more a:hover {
  background-color: #DED6C7;
}

.home-section-3 {
  background: url(../images/bg_home_classes.png) no-repeat;
  background-size: cover;
}
.home-section-3 .column-wrapper-classes .title {
  color: #524840;
  font-size: 48px;
  font-weight: 400;
  font-family: "Arsenal", sans-serif;
}
.home-section-3 .column-wrapper-classes .desc {
  color: #737373;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}
.home-section-3 .column-wrapper-classes .block-link a {
  background-color: #DED6C7;
  border-color: transparent;
  color: #524840;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.home-section-3 .column-wrapper-classes .block-link a:hover {
  background-color: #fff;
  border-color: #DED6C7;
}
.home-section-3 .column-wrapper-classes .block {
  overflow: hidden;
}
.home-section-3 .column-wrapper-classes .block .img {
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .home-section-3 .column-wrapper-classes .block .img {
    overflow: hidden;
    max-height: 287px;
  }
}
.home-section-3 .column-wrapper-classes .block .img:hover {
  opacity: 0.5;
}
.home-section-3 .column-wrapper-classes .block .img a {
  display: block;
}
.home-section-3 .column-wrapper-classes .block .column-white .name {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-size: 28px;
}
.home-section-3 .column-wrapper-classes .block .column-white .name a {
  color: #524840;
  text-decoration: none;
}
.home-section-3 .column-wrapper-classes .block .column-white .name a:hover {
  color: #DED6C7;
}

.home-before-footer {
  background: url(../images/home_before_footer.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.about-section-1 {
  background: url(../images/about_bg.jpg) no-repeat top center;
  background-size: 100%;
}
.about-section-1 .tagline {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #524840;
}

.about-section-2 {
  background: #DED6C7;
}
.about-section-2 .text-left p {
  font-size: 18px;
  color: #737373;
}
.about-section-2 .text-right h4 {
  font-size: 26px;
  line-height: 33px;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #88776A;
}

.about-section-3 .column-wrapper .title {
  font-size: 28px;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  color: #524840;
}
.about-section-3 .column-wrapper .desc {
  font-weight: 300;
  font-size: 21px;
  color: #737373;
}
.about-section-3 .arrows i {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 1px solid #88776A;
  background: url(../images/navigation.png) no-repeat center;
  text-indent: -9999px;
}
.about-section-3 .arrows i:hover {
  background-color: rgba(115, 115, 115, 0.12);
}
.about-section-3 .arrows.slick-prev i {
  left: 2%;
}
.about-section-3 .arrows.slick-next i {
  right: 2%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.trainers-section-1 {
  background: url(../images/bg_trainers.png) no-repeat top center;
  background-size: 100%;
  padding-bottom: 10em !important;
}
.trainers-section-1 .tagline {
  font-size: 48px;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  color: #524840;
}
.trainers-section-1 .floating-column-wrapper {
  margin-top: 25rem;
}
@media screen and (min-width: 768px) {
  .trainers-section-1 .floating-column-wrapper .img {
    max-height: 372px;
  }
}
.trainers-section-1 .floating-column-wrapper .block .name {
  font-size: 28px;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  color: #524840;
}
.trainers-section-1 .floating-column-wrapper .block-more a {
  background-color: transparent;
  border-color: #8d847c;
  color: #8d847c;
  font-size: 20px;
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
}
.trainers-section-1 .floating-column-wrapper .block-more a:hover {
  background-color: rgba(115, 115, 115, 0.12);
}
.trainers-section-1 .floating-column-wrapper .block-more img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.trainers-section-1 .pagination li {
  margin: 0 10px;
  padding: 0;
  width: 40px;
  height: 40px;
}
.trainers-section-1 .pagination li a {
  background-color: #F8F7F4;
  color: #595858;
}
.trainers-section-1 .pagination li a.active {
  background-color: #DED6C7;
}

/*# sourceMappingURL=main.css.map */
