@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
  font-family: 'Arsenal', sans-serif;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  @media screen and (max-width:567px) {
    background-color: rgba(255, 255, 255, 0.89);
  }
  .navbar {
    .navbar-nav {
      align-items: center;
      .nav-link{
        color: #fff;
        font-size: 20px;
        padding: 0 80px;
        color: #524840;
      }
    }
  }
}

#after-header{
  padding: 10em 0 20em;
}
.home-section-1{
  background: url(../images/bg_home_banner.png) no-repeat;
  background-size: cover;
  .floating-text-wrapper{
    color: #fff;
    .home-banner{
      position: absolute;
      right: 0;
      overflow: hidden;
    }
    .title{
      font-family: 'Arsenal', sans-serif;
      font-size: 43px;
      font-weight: 400;
    }
    .tagline{
      font-family: 'Figtree', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
    }
  }
}

.home-section-2{
  background-color: #F8F7F4;
  .text-float-right{
    color: #737373;
    h1{
      font-weight: 400;
      font-size: 32px;
      color: #524840;
    }
    .desc{
      font-weight: 300;
      font-family: 'Figtree', sans-serif;
      font-size: 16px;
    }
  }
}