
body{
  font-weight: 300;
  font-family: 'Figtree', sans-serif;
  color: #737373;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  transition: background 0.3s;
  @media screen and (max-width:567px) {
    background-color: rgba(255, 255, 255, 0.89);
  }
  &.scroll-head{
    background-color: rgba(255, 255, 255, 0.5);
  }
  .navbar {
    .navbar-nav {
      align-items: center;
      font-family: 'Arsenal', sans-serif;
      .nav-item{
        position: relative;
      }
      .nav-link{
        color: #fff;
        font-size: 20px;
        padding: 20px 80px;
        color: #524840;
        &:hover{
          &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 3px;
            bottom: 13px;
            background: #000;
            left: 45%;
          }
        }
        &.active{
          &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 3px;
            bottom: 13px;
            background: #000;
            left: 45%;
          }
        }
      }
    }
  }
}

footer{
  background-color: #B9B2A6;
  .logo-bottom{
    img{
      width: 72px;
    }
  }
  .column-footer-text-wrapper{
    .title-footer{
      border-bottom: 1px solid;
      padding-bottom: 1px;
      margin-bottom: 10px;
    }
    .socmed-link{
      a{
        color: #524840;
      }
    }
  }
}

#after-header{
  padding: 10em 0 20em;
}


// home
.home-section-1{
  background: url(../images/bg_home_banner.png) no-repeat;
  background-size: cover;
  .floating-text-wrapper{
    color: #fff;
    .home-banner{
      position: absolute;
      right: 0;
      overflow: hidden;
    }
    .title{
      font-family: 'Arsenal', sans-serif;
      font-size: 43px;
      font-weight: 400;
    }
    .tagline{
      font-size: 14px;
      line-height: 25px;
    }
    .block-more{
      a{
        background-color: #DED6C7;
        border-color: transparent;
        color: #524840;
        font-family: 'Arsenal', sans-serif;
        font-weight: 400;
        font-size: 20px;
        &:hover{
          background-color: transparent;
          border-color: #DED6C7;
          color: #DED6C7;
        }
      }
    }
  }
}

.home-section-2{
  background-color: #F8F7F4;
  .text-float-right{
    color: #737373;
    h1{
      font-family: 'Arsenal', sans-serif;
      font-weight: 400;
      font-size: 32px;
      color: #524840;
    }
    .desc{
      font-size: 16px;
    }
    .block-more{
      a{
        background-color: transparent;
        border-color: #DED6C7;
        color: #524840;
        font-family: 'Arsenal', sans-serif;
        font-weight: 400;
        font-size: 20px;
        &:hover{
          background-color: #DED6C7;
        }
      }
    }
  }
}
.home-section-3{
  background: url(../images/bg_home_classes.png) no-repeat;
  background-size: cover;
  .column-wrapper-classes{
    .title{
      color: #524840;
      font-size: 48px;
      font-weight: 400;
      font-family: 'Arsenal', sans-serif;
    }
    .desc{
      color: #737373;
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
    }
    .block-link{
      a{
        background-color: #DED6C7;
        border-color: transparent;
        color: #524840;
        font-family: 'Arsenal', sans-serif;
        font-weight: 400;
        font-size: 20px;
        &:hover{
          background-color: #fff;
          border-color: #DED6C7;
        }
      }
    }
    .block{
      overflow: hidden;
      .img{
        transition: .3s ease-in-out;
        @media screen and (min-width: 768px) {
          overflow: hidden;
          max-height: 287px;
        }
        &:hover{
          opacity: .5;
        }
        a{
          display: block;
        }
      }
      .column-white{
        .name{
          font-family: 'Arsenal', sans-serif;
          font-weight: 400;
          font-size: 28px;
          a{
            color: #524840;
            text-decoration: none;
            &:hover{
              color: #DED6C7;
            }
          }
        }
      }
    }
  }
}

.home-before-footer{
  background: url(../images/home_before_footer.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
// end home

// about
.about-section-1{
  background: url(../images/about_bg.jpg) no-repeat top center;
  background-size: 100%;
  .tagline{
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #524840;
  }
}

.about-section-2{
  background: #DED6C7;
  .text-left{
    p{
      font-size: 18px;
      color: #737373;
    }
  }
  .text-right{
    h4{
      font-size: 26px;
      line-height: 33px;
      font-family: 'Arsenal', sans-serif;
      font-weight: 400;
      font-style: italic;
      color: #88776A;
    }
  }
}

.about-section-3{
  .column-wrapper{
    .title{
      font-size: 28px;
      font-family: 'Arsenal', sans-serif;
      font-weight: 400;
      color: #524840;
    }
    .desc{
      font-weight: 300;
      font-size: 21px;
      color: #737373;
    }
  }
  .arrows{
    i{
      position: absolute;
      top: 50%;
      z-index: 1;
      width: 50px;
      height: 50px;
      border: 1px solid #88776A;
      background: url(../images/navigation.png) no-repeat center;
      text-indent: -9999px;
      &:hover{
        background-color: rgba(115, 115, 115, 0.12);
      }
    }
    &.slick-prev{
      i{
        left: 2%;
      }
    }
    &.slick-next{
      i{
        right: 2%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
}
// end about

// trainers
.trainers-section-1{
  background: url(../images/bg_trainers.png) no-repeat top center;
  background-size: 100%;
  padding-bottom: 10em !important;
  .tagline{
    font-size: 48px;
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
    color: #524840;
  }
  .floating-column-wrapper{
    margin-top: 25rem;
    @media screen and (max-width:767px) {
      margin-top: 0;
    }
    .img{
      @media screen and (min-width:768px) {
        max-height: 372px;
      }
    }
    .block{
      .name{
        font-size: 28px;
        font-family: 'Arsenal', sans-serif;
        font-weight: 400;
        color: #524840;
      }
    }
    .block-more{
      a{
        background-color: transparent;
        border-color: #8d847c;
        color: #8d847c;
        font-size: 20px;
        font-family: 'Arsenal', sans-serif;
        font-weight: 400;
        &:hover{
          background-color: rgba(115, 115, 115, 0.12);
        }
      }
      img{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
  .pagination{
    li{
      margin: 0 10px;
      padding: 0;
      width: 40px;
      height: 40px;
      a{
        background-color: #F8F7F4;
        color: #595858;
        &.active{
          background-color: #DED6C7;
        }
      }
    }
  }
}
// end trainers

// start classes
.modal-calendar{
  .modal-header{
    height: 250px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .modal-body{
    #eventTitle{
      color: #524840;
      font-size: 28px;
      font-weight: 400;
      font-family: 'Arsenal', sans-serif;
      text-transform: capitalize;
    }
    #eventLabel{
      font-weight: 600;
      text-transform: capitalize;
    }
    #eventDescription{
      margin-bottom: 20px;
    }
    .instructor-block{
      .img-avatar{
        width: 56px;
        height: 56px;
        overflow: hidden;
        border-radius: 50%;
      }
    }
  }
  .modal-footer{
    .btn{
      background-color: #DED6C7;
      border-color: transparent;
      color: #524840;
    }
  }
  .btn-close{
    position: absolute;
    right: 22px;
    font-size: 14px;
  }
}
.classes-section-1{
  background: url(../images/bg_classes.png) no-repeat top center;
  background-size: 100%;
  padding-bottom: 10em !important;
  select{
    border-radius: 50px;
    background: #F8F7F4;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    color: #262524;
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
  }
  .fc .fc-timegrid-slot{
    height: 3em;
  }
  .custom-event{
    text-transform: capitalize;
    position: relative;
    height: 100%;
    .event-title{
      font-weight: 600;
    }
    .event-time{
      font-size: 10px;
      position: absolute;
      bottom: 0;
    }
  }
  .tagline{
    font-size: 48px;
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
    color: #524840;
  }
  .fc-col-header-cell-cushion{
    text-decoration: none;
  }
  .event-label{
    font-size: 12px;
  }
  .fc-timegrid-event{
    // inset: inherit;
  }
  .column-calendar{
    margin-top: 30rem;
    @media screen and (max-width:767px) {
      margin-top: 0;
    }
    .select-filter{
      position: relative;
      @media screen and (min-width:768px) {
        margin-bottom: -45px;
      }
    }
  }
  .custom-day-header{
    text-decoration: none;
    .custom-day{
      font-size: 25px;
      font-family: 'Arsenal', sans-serif;
      font-weight: 400;
    }
    .custom-weekday{
      font-weight: 300;
    }
  }
  .fc-today-button {
    display: none !important;
  }
  .fc-scrollgrid-sync-table{
    display: none;
  }
  .fc-timegrid-event-harness{
    .fc-v-event{
      background-color: #DED6C7 !important;
      border-color: transparent !important;
      border-left: 2px solid #524840 !important;
      padding-left: 5px;
      padding-right: 5px;
      .fc-event-main{
        color: #524840 !important;
      }
      
    }
    
  }
  .fc-timegrid-axis {
    background-color: #DED6C7;
  }
  .fc-scrollgrid-sync-inner {
    background-color: #DED6C7;
    a{
      background-color: #DED6C7;
      color: #524840;
    }
  }
  .fc-header-toolbar{
    justify-content: flex-start !important;
    .fc-toolbar-title{
      padding-left: 10px;
      color: #524840;
      font-weight: 600;
      font-size: 32px;
    }
  }
  #calendar{
    table{
      background-color: #fff;
    }
  }
}
// end classes 

// contact
.contact-section-1{
  background: url(../images/bg_contact.png) no-repeat center;
  background-size: cover;
  textarea {
    resize: none;
  }
  .tagline{
    font-size: 48px;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif;
    color: #524840;
  }
  .desc{
    font-size: 18px;
  }
  .sub-tagline{
    font-weight: 400;
    color: #524840;
    font-size: 14px;
  }
  .sub-tagline-2{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif;
    color: #524840;
  }
  .form-contact{
    .form-label{
      font-size: 14px;
    }
    .btn-primary{
      background-color: #DED6C7;
      border-color: transparent;
      color: #524840;
      font-size: 20px;
      font-weight: 400;
      font-family: 'Arsenal', sans-serif;
      &:hover{
        background-color: #fff;
        color: #DED6C7;
      }
    }
  }
  .sosmed{
    font-size: 20px;
    a{
      color: #595858;
      text-decoration: none;
    }
  }
}
// end contact 