
body{
  font-weight: 300;
  font-family: 'Figtree', sans-serif;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  transition: background 0.3s;
  @media screen and (max-width:567px) {
    background-color: rgba(255, 255, 255, 0.89);
  }
  &.scroll-head{
    background-color: rgba(255, 255, 255, 0.5);
  }
  .navbar {
    .navbar-nav {
      align-items: center;
      font-family: 'Arsenal', sans-serif;
      .nav-item{
        position: relative;
      }
      .nav-link{
        color: #fff;
        font-size: 20px;
        padding: 20px 80px;
        color: #524840;
        &:hover{
          &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 3px;
            bottom: 13px;
            background: #000;
            left: 45%;
          }
        }
      }
    }
  }
}

footer{
  background-color: #B9B2A6;
  .logo-bottom{
    img{
      width: 72px;
    }
  }
  .column-footer-text-wrapper{
    .title-footer{
      border-bottom: 1px solid;
      padding-bottom: 1px;
      margin-bottom: 10px;
    }
    .socmed-link{
      a{
        color: #524840;
      }
    }
  }
}

#after-header{
  padding: 10em 0 20em;
}
.home-section-1{
  background: url(../images/bg_home_banner.png) no-repeat;
  background-size: cover;
  .floating-text-wrapper{
    color: #fff;
    .home-banner{
      position: absolute;
      right: 0;
      overflow: hidden;
    }
    .title{
      font-family: 'Arsenal', sans-serif;
      font-size: 43px;
      font-weight: 400;
    }
    .tagline{
      font-size: 14px;
      line-height: 25px;
    }
    .block-more{
      a{
        background-color: #DED6C7;
        border-color: transparent;
        color: #524840;
        font-family: 'Arsenal', sans-serif;
        font-weight: 400;
        font-size: 20px;
        &:hover{
          background-color: transparent;
          border-color: #DED6C7;
          color: #DED6C7;
        }
      }
    }
  }
}

.home-section-2{
  background-color: #F8F7F4;
  .text-float-right{
    color: #737373;
    h1{
      font-family: 'Arsenal', sans-serif;
      font-weight: 400;
      font-size: 32px;
      color: #524840;
    }
    .desc{
      font-size: 16px;
    }
    .block-more{
      a{
        background-color: transparent;
        border-color: #DED6C7;
        color: #524840;
        font-family: 'Arsenal', sans-serif;
        font-weight: 400;
        font-size: 20px;
        &:hover{
          background-color: #DED6C7;
        }
      }
    }
  }
}
.home-section-3{
  background: url(../images/bg_home_classes.png) no-repeat;
  background-size: cover;
  .column-wrapper-classes{
    .title{
      color: #524840;
      font-size: 48px;
      font-weight: 400;
      font-family: 'Arsenal', sans-serif;
    }
    .desc{
      color: #737373;
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
    }
    .block-link{
      a{
        background-color: #DED6C7;
        border-color: transparent;
        color: #524840;
        font-family: 'Arsenal', sans-serif;
        font-weight: 400;
        font-size: 20px;
        &:hover{
          background-color: #fff;
          border-color: #DED6C7;
        }
      }
    }
    .block{
      overflow: hidden;
      .img{
        transition: .3s ease-in-out;
        @media screen and (min-width: 768px) {
          overflow: hidden;
          max-height: 287px;
        }
        &:hover{
          opacity: .5;
        }
        a{
          display: block;
        }
      }
      .column-white{
        .name{
          font-family: 'Arsenal', sans-serif;
          font-weight: 400;
          font-size: 28px;
          a{
            color: #524840;
            text-decoration: none;
            &:hover{
              color: #DED6C7;
            }
          }
        }
      }
    }
  }
}

.home-before-footer{
  background: url(../images/home_before_footer.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}